<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kuka_omnirob_iisy_vgc10">
  <xacro:include filename="$(find omnirob_description)/urdf/omnirob_macro.xacro"/>
  <xacro:include filename="$(find kuka_iisy_description)/urdf/lbr_iisy15_r930_macro.xacro"/>
  <xacro:include filename="$(find onrobot_vg_description)/urdf/onrobot_vgc10_4cups_macro.xacro"/>

  <xacro:arg name="driver_version" default="rsi_only"/>
  <xacro:arg name="mode" default="hardware"/>
  <xacro:arg name="use_gpio" default="false"/>
  <xacro:arg name="roundtrip_time" default="0"/>
  <xacro:arg name="client_ip" default="0.0.0.0"/>
  <xacro:arg name="client_port" default="59152"/>
  <xacro:arg name="mxa_client_port" default="1336"/>
  <xacro:arg name="controller_ip" default="0.0.0.0"/>
  <xacro:arg name="verify_robot_model" default="true"/>
  <xacro:arg name="qos_config_file" default=""/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="x" default="0"/>
  <xacro:arg name="y" default="0"/>
  <xacro:arg name="z" default="0"/>
  <xacro:arg name="roll" default="0"/>
  <xacro:arg name="pitch" default="0"/>
  <xacro:arg name="yaw" default="0"/>

  <xacro:omnirob prefix="platform_" package_name="omnirob_description"/>
  <xacro:kuka_lbr_iisy15_r930_robot prefix="arm_" package_name="kuka_iisy_description">
    <origin xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)"/>
  </xacro:kuka_lbr_iisy15_r930_robot>
  <xacro:onrobot_vgc10 prefix=""/>

  <!-- Assemble lbr iisy r930 and onrobot vgc10 -->
  <joint name="vg_mount" type="fixed">
    <child link="onrobot_vgc10_base_link"/>
    <origin rpy="0.0 ${pi/2} 0.0" xyz="0.0 0.0 0.0"/>
    <parent link="arm_flange"/>
  </joint>

  <joint name="arm_mount" type="fixed">
    <child link="arm_base_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.38 0.12 0.65"/>
    <parent link="platform_base_link"/>
  </joint>

</robot>