<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iisy_vgc10">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import iisy_vgc10 urdf file -->
    <xacro:include filename="$(find mpnp_simulation)/models/kuka_iisy_vgc10.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="iisy_vgc10.ros2_control.xacro" />


    <xacro:iisy_vgc10_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
