<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kuka-omnirob-iisy">
  <xacro:include filename="$(find omnirob_description)/urdf/omnirob_macro.xacro"/>

  <!-- Import omnirob urdf file -->
  <xacro:omnirob prefix="omnirob" package_name="omnirob_description"/>

  <!-- Import control_xacro -->
  <!-- <xacro:include filename="$(find omnirob_description)/config/omnirob.ros2_control.xacro"/> -->
  <!-- <xacro:omnirob_ros2_control/> -->

</robot>